@model PartialSampleChildModel
@using Microsoft.AspNetCore.Mvc.Rendering

<tr>
    <td>
        <span>@Model.Text</span>
    </td>
    <td>
        <span>@Model.Number</span>
    </td>
    <td>
        <span>@Model.Enum</span>
    </td>
</tr>
