@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!-- アラートメッセージモーダル -->
<div class="modal fade" id="modal-alertmessage" tabindex="-1" aria-labelledby="alertMessageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertMessageLabel">メッセージ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="alertMessageBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@{
    var message = TempData["Message"] as string;
}

@if (!string.IsNullOrEmpty(message))
{
    <script>
        $(function () {
            $('#alertMessageBody').text(@Html.Raw(System.Text.Json.JsonSerializer.Serialize(message ?? "")));
            var modal = new bootstrap.Modal(document.getElementById('modal-alertmessage'));
            modal.show();
        });
    </script>
}
